.test1 {
    border: red solid 2px;
}

.test2 {
    border: green solid 2px;
}

.test3 {
    border: blue solid 2px;
}

.nav-button {
    background-color: #9400D3;
    opacity: 50%;
}

.header-container {
    display: flex;
    flex: 1;
    flex-direction: row;
}

.logo {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
}

.basket-container {
    position: absolute;
    right: 20px;
    top: 20px;

}

.basket-badge {
    font-size: 18px;
    font-weight: bold;
}

.add-to-cart {
    background-image: url("./assets/plus-btn.png");
    color: #9400D3;
    height: 50px;
    width: 100px;
}

.modal-backdrop {
    background-color: transparent;
}

figure { /* Here !!! */
    position: relative;
    margin: 0;
}

figure img { max-width: 100%; }

figcaption {
    position: absolute;
    right: 30%;
    bottom: 10%;
    padding: 1px;
    line-height: 18px;
}